/* MenuLeft.css */
.menu-left {
    width: 200px; /* Ajustez la largeur selon vos besoins */
    background-color: rgb(3, 3, 5); /* Couleur de fond du menu */
    height: 100vh; /* La hauteur du menu est la même que celle de la fenêtre de visualisation */
    padding: 20px;
  }
  
  .menu-items {
    list-style: none;
    padding: 0;
  }
  
  .menu-items li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white; /* Couleur du texte */
    margin-bottom: 5px; /* Espacement entre les éléments de menu */
  }
  
  .menu-items li a:hover {
    background-color: gray; /* Couleur de fond au survol */
  }
  